<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataLayer.Properties.Settings.xprema_beroConnectionString"
            connectionString="Data Source=HEROO;Initial Catalog=xprema_bero;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>