<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataLayer.Properties.Settings.xprema_beroConnectionString"
            connectionString="Data Source=SEZEROFFICE-PC\SQL2008;Initial Catalog=xprema_bero;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataLayer.Properties.Settings.xprema_beroConnectionString1"
            connectionString="Data Source=jasmine.arvixe.com;Initial Catalog=xprema_bero;User ID=xama;Password=Pa$$w0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>